<div class="container border border-dark my-5" id="main">
  <div class="jumbotron-fluid m-4">
    <h1 class="text-center">About Us</h1>
    <p class="lead">We are five students currently enrolled in the University of Central Florida Full Stack Web
      Development Bootcamp. We collaborated on a shared idea and used technologies such as Node.js,
      Handlebars, Express, MySQL2 and Sequelize to create this application.</p>
    <hr class="my-4">
    <h3>GitHub Repsitory</h3>
    <a href="https://github.com/jkstone321/planted" id="links" target="_blank">
      <p class="lead">https://github.com/jkstone321/planted</p>
    </a>
    <hr class="my-4">
    <h3>Created By</h3>
    <ul id="list-name">
      <a href="https://github.com/odisclemons" id="links" target="_blank">
        <li class="lead">Odis Clemons</li>
      </a>
      <a href="https://github.com/Jmaun22" id="links" target="_blank">
        <li class="lead">Jesse Maun</li>
      </a>
      <a href="https://github.com/Jdiaz240" id="links" target="_blank">
        <li class="lead">Joshua Diaz</li>
      </a>
      <a href="https://github.com/Droessling94" id="links" target="_blank">
        <li class="lead">Donaldson Roessling</li>
      </a>
      <a href="https://github.com/jkstone321" id="links">
        <li class="lead">Jordan Stone</li>
      </a>
    </ul>
    <hr class="my-4">
    <h3>Special Thanks To</h3>
    <ul id="list-name">
      <li class="lead">Pickolas Cage</li>
      <li class="lead">Big Papa</li>
      <li class="lead">Frederick</li>
      <li class="lead">Elden Ring</li>
    </ul>
  </div>
</div>