<!-- SIGN UP FORM-->
<div class="container border border-dark my-5" id="main">
  <div class="jumbotron-fluid m-4">
    <div class="container row justify-content-around">
      <div class="card col-11 col-lg-5 p-0 my-2">
        <h3 class="card-header">Log In</h3>
        <div class="card-body">
          <form class="login-form">
            <div class="form-group">
              <label for="email-login">Email address</label>
              <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="password-login">Password</label>
              <input type="password" class="form-control" id="password-login">
            </div>
            <button type="submit" class="btn btn-primary w-100" id="submitBtn">Log In</button>
          </form>
        </div>
      </div>
      <div class="card col-11 col-lg-5 p-0 my-2">
        <h3 class="card-header">Sign Up</h3>
        <div class="card-body">
          <form class="signup-form">
            <div class="form-group">
              <label for="name-signup">Name</label>
              <input type="input" class="form-control" id="name-signup">
            </div>
            <div class="form-group">
              <label for="email-signup">Email address</label>
              <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="password-signup">Password</label>
              <input type="password" class="form-control" id="password-signup">
            </div>
            <button type="submit" class="btn btn-primary w-100" id="submitBtn">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/login.js"></script>