<!-- SEARCH FORM -->
<div class="row w-100">
  <div class="col-2">

    <!-- SEARCH FORM -->
    <div class="card m-4 p-0" id="search-card">
      <h3 class="card-header m-0">Search</h3>
      <div class="card-body">

        <form>
          <div class="form-group">
            <input type="input" class="form-control" id="myInput" aria-describedby="searchbox-plants">
          </div>
          <button class="btn btn-secondary w-100" onClick="handleAddClick(Input), userPlantsPOST()">Add to List</button>

        </form>
      </div>
    </div>


    <script>


      var Input = document.getElementById("myInput").value;
      console.log(Input);


      function handleAddClick(Input) {

        event.preventDefault()
        console.log('d')



        var plantList = document.getElementById("plantList");


        var pickedPlant = document.createElement("button");


        pickedPlant.textContent = document.getElementById("myInput").value;


        pickedPlant.className = 'list-group-item';

        pickedPlant.classList.add('list-group-item-action');



        plantList.appendChild(pickedPlant);


      }



    </script>

    {{!-- <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary">
        Split dropright
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-expanded="false">
        <span class="sr-only">Toggle Dropright</span>
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
      </div>
    </div> --}}


    <!-- MY LIST -->
    <div class="card m-4 p-0" id="my-list">
      <h3 class="card-header m-0">My List</h3>
      <div class="card-body">
        <div class="list-group" id="plantList">
          {{#each chosen_plants as |chosen_plant|}}
          <div class="btn-group dropright"></div>
          <button type="button" class="btn btn-secondary">
            {{chosen_plant.type}}
          </button>
          <button type="button" id="dropButton" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-expanded="false">
            <span class="sr-only">Toggle Dropright</span>

          </button>
          <ul id="list" class="dropdown-menu">
           
          </ul>
        </div>
        {{!-- <a href="#" class="list-group-item list-group-item-action">{{chosen_plant.type}}</a> --}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
<!-- GARDEN GRID -->
<div class="card my-4 p-0" id="garden-grid">
  <h3 class="card-header m-0">Big Papa's Garden</h3>
  <div class="card-body">

    <div id="gridContainer">
      <!-- grid squares generated here -->

    </div>

    <div id="colorPickerContainer" style="display:flex">
      <div id="currentColorDisplay">
        <!-- this box shows the currently selected color -->
        <div id="iconButton" onclick="colorLockedToggle()"><i class="fas fa-lock-open"></i></div>
      </div>
      <div id="colorPalette">
        <!-- color palette squares generated here -->
      </div>
    </div>

    <form id="frmColorPicker">
      <input id="inpCurrentColor" class="form-control" type="text" placeholder="e.g.: red or #FF0000" />
      <input type="submit" class="btn btn-primary btn-sm" value="Set Color" />
      <input type="button" onclick="clearGrid()" class="btn btn-secondary btn-sm" value="Clear Grid" />
    </form>

    <script src="./js/colors.js"></script>
    <script src="./js/rightclickmenu.js"></script>
    <script src="./js/addtolistPOST.js"></script>
  </div>