<!-- SEARCH FORM -->


<!--Make sure the form has the autocomplete function switched off:-->
<div class="row w-100">
  <div class="col-2">
    <div class="card m-4 p-0" id="search-card">
      <h3 class="card-header m-0">Search</h3>
      <div class="card-body">
<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myCountry" placeholder="Country">
  </div>
  <input type="submit">
</form>

<script src="./js/autocomplete.js"></script>
  </div>
    </div>

          


    <!-- MY LIST -->
    <div class="card m-4 p-0" id="my-list">
      <h3 class="card-header m-0">My List</h3>
      <div class="card-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Potatoes</a>
          <a href="#" class="list-group-item list-group-item-action">Tomatoes</a>
          <a href="#" class="list-group-item list-group-item-action">Special Lettuce</a>
        </div>
      </div>
    </div>
  </div>
  <!-- GARDEN GRID -->
  <div class="card my-4 p-0" id="garden-grid">
    <h3 class="card-header m-0">Big Papa's Garden</h3>
    <div class="card-body">
      <img src="./assets/grid.png" />
    </div>
  </div>
</div>