ul {
    list-style-type: none;
}

body {
    background-color: gray;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    background-color: #18181849;
    color: white;
    backdrop-filter: blur(10px);
}

.navbar {
    font-size: larger;
    color: white;
    background-color: #181818;
}

.navbar-brand {
    font-weight: bolder;
    font-size: xx-large;
}

#my-list {
    min-height: 63vh;
}

#garden-grid {
    width: 162vh;
}

#grid-system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#garden-grid,
#my-list,
#grid-system,
#search-card {
    background-color: #404040;
    color: white;
}

.ui-autocomplete {
    max-height: 600px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
}

#rightClickMenu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: aqua;
    display: none;
}

#rightClickMenu.visible {
    display: block;
}

.rightClickOption {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
}

.rightClickOption:hover {
    background: #343434;
}

.plantColors {
    height: 1rem;
    width: 1rem;
}

.plantButton {
    display: flex;
    justify-content: space-between;
}

select::-ms-expand {
    display: none;
}