body {
    background-color: gray;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    background-color: #18181849;
    color: white;
    backdrop-filter: blur(10px);
}

.navbar {
    font-size: larger;
    color: white;
    background-color: #181818;
}

.navbar-brand {
    font-weight: bolder;
    font-size: xx-large;
}

#my-list {
    min-height: 63vh;
}

#garden-grid {
    width: 162vh;
}

#grid-system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#garden-grid,
#my-list,
#grid-system,
#search-card {
    background-color: #404040;
    color: white;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    width: 101%
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    width: 68%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #404040;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #8d8d8d;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
