body {
    background-color: gray;
    background-image: url("../assets/background.gif");
    background-size: fill;
    background-repeat: no-repeat;
}

#main {
    background-color: #18181850;
    color: white;
    backdrop-filter: blur(10px);
}

.card {
    background-color: #2c2c2c8a;
    backdrop-filter: blur(20px);
}

hr {
    color: #404040;
    background-color: #404040;
}

#submitBtn {
    background-color: gray;
    border-color: black;
}

#submitBtn:hover {
    background-color: rgb(77, 77, 77);
}

.navbar {
    font-size: larger;
    color: white;
    background-color: #181818;
}

.navbar-brand {
    font-weight: bolder;
    font-size: xx-large;
}

#list-name {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#list-name li {
    display: inline;
}

#links {
    color: white;
}